In [ ]:
-- create table Customers(
-- customer_id serial primary key,
-- customer_name varchar,
-- city varchar);

-- select * from customers;

-- insert into Customers (customer_name, city)
-- values ('john doe', 'new york'),
-- ('jane smith', 'los angeles'),
-- ('david johnson', 'chicago');

-- create table Orders(
-- order_id serial primary key,
-- customer_id integer not null,
-- order_date date not null,
-- total_amount decimal not null);

-- select * from orders;

-- alter table orders
-- add constraint fk
-- foreign key (customer_id)
-- references customers(customer_id);

-- insert into orders (customer_id, order_date, total_amount)
-- values (1, '2022-01-10', 100.00),
-- (1, '2022-02-15', 150.00),
-- (2, '2022-03-20', 200.00),
-- (3, '2022-04-25', 50.00);

-- select customer_name, count(order_id)
-- from customers
-- join orders on customers.customer_id = orders.customer_id
-- group by customer_name